body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #212121;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li nav {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 36px;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 492px;
  gap: 46px;
  padding: 2px 111px 0 95px;
}
.header-links__link {
  position: relative;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding: 0px;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-links__link:hover, .header-links__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-links-portfolio {
  @ex gap: 47px;
  padding: 0 345px 0 93px;
}

.header-contacts {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 202px;
  margin-top: 6px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 321px;
  gap: 30px;
}
.header-contacts__contact {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
  font-size: 14px;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__contact:hover, .header-contacts__contact:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-contacts-portfolio {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 219px;
  margin-top: 4px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 321px;
  gap: 28px;
}

.line::after {
  position: absolute;
  background: #2196f3;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 44px;
  height: 4px;
  border-radius: 2px;
}

.header-text-color {
  color: #2196f3;
}

.border {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  text-decoration: none;
}
.logo__text-color {
  color: black;
}
.logo__text-color--footer {
  color: white;
}

.main {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("https://raw.githubusercontent.com/Wojtek-A/goit-markup-hw-07/main/images/main.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("https://raw.githubusercontent.com/Wojtek-A/goit-markup-hw-07/main/images/main.jpg");
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-elements__text {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 106px;
}
.main-elements__button {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 10px 42px 10px 42px;
  margin: 30px auto 106px auto;
  border: 0;
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity, visibility;
  transition: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.modal-backdrop + .is-hidden {
  -webkit-transition: none;
  transition: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 528px;
  height: 581px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: #fff;
}
.modal__exit {
  margin: 8px 8px auto 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  fill: #000000;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__exit:hover, .modal__exit:focus {
  cursor: pointer;
  fill: #fff;
  background-color: #2196f3;
}

.modal > h3 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: -2px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14px 40px auto 40px;
  color: #757575;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-form__input {
  height: 41px;
  width: 448px;
  margin: 4px auto -12px auto;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:not(:-moz-placeholder-shown) {
  border: 1px solid #2196f3;
}
.modal-form__input:not(:-ms-input-placeholder) {
  border: 1px solid #2196f3;
}
.modal-form__input:hover, .modal-form__input:focus, .modal-form__input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}
.modal-form__textarea {
  height: 119px;
  width: 448px;
  padding: 10px 0 0 15px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 5px auto 19px auto;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}
.modal-form__textarea:not(:-moz-placeholder-shown) {
  border: 1px solid #2196f3;
}
.modal-form__textarea:not(:-ms-input-placeholder) {
  border: 1px solid #2196f3;
}
.modal-form__textarea:hover, .modal-form__textarea:focus, .modal-form__textarea:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}
.modal-form__agreement {
  position: relative;
  top: 3px;
  left: 11px;
}
.modal-form__agreement-input {
  position: absolute;
  top: 2px;
  left: 5px;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.modal-form__agreement-label {
  position: absolute;
  top: 1px;
  left: 28px;
  font-size: 14px;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.modal-form__icon {
  position: relative;
  top: -18px;
  left: 13px;
  -webkit-transition-property: fill, boxshadow;
  transition-property: fill, boxshadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__agreement-unchecked-icon {
  position: absolute;
  left: 3px;
  top: 0px;
  z-index: 2;
}
.modal-form__agreement-checked-icon {
  position: absolute;
  left: 3px;
  top: 0px;
  z-index: 2;
  visibility: hidden;
}
.modal-form__button {
  padding: 10px 0;
  margin: 52px 124px;
  background-color: #2196f3;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
.modal-form__button:hover, .modal-form__button:focus {
  cursor: pointer;
  fill: #fff;
  background-color: #2196f3;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__agreement-input:checked ~ .modal-form__agreement-checked-icon {
  position: absolute;
  visibility: visible;
  fill: #2196f3;
}

.modal-form__input:not(:-moz-placeholder-shown) + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:not(:-ms-input-placeholder) + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:not(:placeholder-shown) + .modal-form__icon {
  fill: #2196f3;
}

.list {
  margin: auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list__item {
  width: 270px;
}
.list__item-picture {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.list__item-headline {
  margin-top: 27px;
  font-size: 14px;
}
.list__item-text {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.what-we-do {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 0;
}
.what-we-do__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.what-we-do__picture {
  position: relative;
}
.what-we-do__picture-text {
  width: 370px;
  height: 70px;
  margin: 0px;
  padding-top: 28px;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 16.41px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.what-we-do > h2 {
  letter-spacing: 0.03em;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  background-color: #f5f4fa;
  padding-top: 94px;
}
.our-team__employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto auto auto;
  padding-top: 0;
}
.our-team__employee {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: white;
  width: 270px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
.our-team__employee-profession {
  color: #757575;
  font-weight: normal;
  margin-top: 10px;
}

.our-team > h2 {
  letter-spacing: 0.03em;
}

.our-team__employee > h3 {
  margin-top: 30px;
  font-size: 16px;
}

.social-links-footer, .social-links-employee {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-links-footer__link, .social-links-employee__link {
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-footer__link:hover, .social-links-employee__link:hover, .social-links-footer__link:focus, .social-links-employee__link:focus {
  cursor: pointer;
  fill: #fff;
  background-color: #2196f3;
}

.social-links-employee {
  width: 270px;
  margin-top: 16px;
  margin-bottom: 26px;
}

.social-links-employee__link {
  fill: #afb1b8;
}

.social-links-footer {
  padding-top: 20px;
}

.social-links-footer__link {
  fill: #fff;
}

.our-clients {
  text-align: center;
  letter-spacing: 0.06em;
}
.our-clients__list {
  padding-top: 50px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-clients__client {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__client:hover, .our-clients__client:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.footer {
  width: unset;
  padding: 0px;
  background-color: #2f303a;
}

.footer-columns {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer > div {
  padding: 60px 0;
}

.footer-contacts-list {
  list-style-type: none;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}
.footer-contacts-list__address {
  color: white;
  font-size: 14px;
  font-style: normal;
}
.footer-contacts-list__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-list__contact:hover, .footer-contacts-list__contact:focus {
  color: #2196f3;
}

.social-links-column {
  color: #fff;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.newsletter-footer {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.newsletter-footer__text {
  margin-top: 12px;
  margin-left: 9px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.newsletter-footer__email {
  margin: 21px 10px 0 9px;
  width: 358px;
  height: 49px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
}

.newsletter__button {
  margin-top: 19px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  fill: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.portfolio-buttons-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}
.portfolio-buttons-list__button {
  padding: 4px 22px;
  background-color: #f5f4fa;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons-list__button:hover, .portfolio-buttons-list__button:focus {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  list-style: none;
  margin-top: 51px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio-list__item {
  width: 370px;
  outline: 1px solid #eeeeee;
  list-style-type: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 1px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 1px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.portfolio-list__image-and-text {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.portfolio-list__text-overlay {
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.8980392157);
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  content: none;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__item > h3 {
  padding-top: 20px;
  padding-left: 28px;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}
.portfolio-list__item > p {
  padding-top: 4px;
  padding-left: 28px;
  padding-bottom: 20px;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  margin: 0px;
}

.portfolio-list__item:hover .portfolio-list__text-overlay {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}/*# sourceMappingURL=main.css.map */