.main {
  background-color: getbgcolor(tuna-seconadry);
  background-image: linear-gradient(
      to right,
      getbgcolor(black-rock),
      getbgcolor(black-rock)
    ),
    url("https://raw.githubusercontent.com/Wojtek-A/goit-markup-hw-07/main/images/main.jpg");
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.main-elements {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    color: getcolor(whited);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 106px;
  }
  &__button {
    font-family: $primaryfont;
    border-radius: 4px;
    padding: 10px 42px 10px 42px;
    margin: 30px auto 106px auto;
    border: 0;
    background-color: getbgcolor(dodger-blue);
    color: getcolor(whited);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
}
