.logo {
  font-family: $secondaryfont;
  font-weight: 700;
  font-size: 26px;
  color: getcolor(dodger-blue);
  text-decoration: none;

  &__text-color {
    color: getcolor(black);

    &--footer {
      color: getcolor(white);
    }
  }
}
