.what-we-do {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 0;
  h2 {
    letter-spacing: 0.03em;
  }
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__picture {
    position: relative;
  }
  &__picture-text {
    width: 370px;
    height: 70px;
    margin: 0px;
    padding-top: 28px;
    position: absolute;
    bottom: 0;
    color: getcolor(whited);
    font-size: 14px;
    line-height: 16.41px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    );
  }
}
