$color: (
  "white": #fff,
  "dodger-blue": #2196f3,
  "boulder": #757575,
  "black":  #212121,
);
$bgColor: (
 "white": #fff,
  "dodger-blue": #2196f3,
  "tuna": #2f303a,
  "boulder": #757575,
  "niewiem6": #2f303a66,
  "niewiem7": rgba(0, 0, 0, 0.2),
  "whisper": #f5f4fa,
  "niewiem8": #2196f3e5,
);
$brdColor: (
  "nie2": #ffffff4d,
  "white": #fff,
  "whisper": #f5f4fa,
  "dodger-blue": #2196f3,
  "niewiem9": #21212133,
  "bombay": #afb1b8,
  "gallery": #ececec,
);
$fillColor: (
  "whisper": #f5f4fa,
  "white": #fff,
  "dodger-blue": #2196f3,
  "black": #000000,
  "bombay": #afb1b8,
);;